.header {
  padding: 8px 0;

  margin-top: 24px;
  margin-bottom: 16px;
  background-color: #ffec3fd7;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link {
  padding: 8px 16px;

  text-decoration: none;
  color: #3d0000;
  font-weight: 500;
}

.active {
  color: #fae102;
  background-color: #3d0000;
}
